.tryorange{
  background-color: orange;
  color: white;
  font-weight: bold;
}
.btndark{
  background-color: red;
color:white
}
.trydark{
  background-color: black;
  color:white
}
.btnorange{
  background-color: rgb(32, 241, 178);
  color:white
}
.acc{
  display: flex;
}



h1{
  color: blue;
  text-align: center;
}

td{
  height: 150px;
  width: 150px;
  border: 1px solid black;
  text-align: center;
}
table{
  position: relative;
  left: 30%;
}
.filled{
  color: gold;
  
}
span{
  cursor: pointer;
}






.containers{
  display: flex;
  justify-content: center;
  width: 10%;
  flex-wrap: wrap;
  height: 20%;
}

.container{
 
  padding: 20px;
  border: 1px solid black;
}

.colorConatiner{
 background-color: blue;
  padding: 20px;
  border: 1px solid black;
}
